/*body css codes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
	text-decoration: none;

}
#outter
{
	
	height:700px;
	width:100%;
	background-size:cover;
	background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.2)),url("contactus-img/contact us.jpg");
}
#h1
{
	font-size:100px;
	
	background-color: none;
	color: white;
	text-align: center;
}
.tb
{
	height:20px;
	width:100%;
}
.container3
{
	display: inline-flex;
}
.history
{
	height: 350px;width:550px;
}
.history1
{
	margin:0px;
	color:black;
	padding: 200px  40px  210px  0px ;
	font-size: 40px;
	text-align: center;
}
.historypara
{
	font-size:25px;
	padding: 125px  0px 140px  100px ;
	text-align: center;
}
#pov
{
	background-image: url("contactus-img/pov.jpg"); 
	height: 100%; 
	width: 100%; 
	background-size:cover;
}
#impact
{
	padding-top: 390px;
	padding-left: 750px;
	padding-right: 50px;
}
#im1
{
	padding-left: 40px;
	height: 46px;
	width: 150px;
	background-color:none;
}
#h2
{
	font-size: 27px;
	width:380px;
	background-color: white;
	color: black;
	padding:0px 0px 10px 10px;
}
#im
{
	height: 360px;
	width: 450px;
	background-color:#003355;
}
.p3
{
	font-size:25px;
	color: white;
	font-family: arial;
	padding-top: 50px;
}
.p4
{
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}
.inside
{
	margin-top:30px;
	margin-left:140px;
	width: 190px;
}
.laow
{
	width: 250px; 
	height: 50px; 
	background-color: #00d5ff;
	padding: 10px 20px 10px 20px; 
	color: #003355;
	border-radius: 50px;
}
.change:hover
{
	background-color:#039dfc ;
	color: #003355;
	transition: all 0.3s ease-in-out;
}
