*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
  }
/*-----------------------------------------------*/
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .content{
    align-content: center;
    overflow: hidden;
  }
  .content img{
    width: 100%;
  }
/*-----------------------------------------------*/