#outter
{
	
	height:700px;
	width:100%;
	background-size:cover;
	background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.2)),url(donate1.jpg);
}
#h1
{
	font-size:100px;
	background-color: none;
	color: white;
	font-family: arial;
	text-align: center;
}
.tb
{
	height:20px;
	width:1250px;
}
.history
{
	width: 600px;
	height: 100%;
	margin:0px;
}
.cwvr2
{
	margin:0px;

	font-size:25;
	padding: 125px  0px 50px  100px ;
}
.laow
{
	background-color: white;
	width: 190px; 
	height: 50px; 
	background-color: darkorange;
	padding: 20px 10px 0px 10px; 
	color: #003355;
	border-radius: 50px;
}
.change:hover
{
	background-color: #003355;
	color: darkorange;
}
.cwvr
{ 
	margin:0px;
	color:black;
	font-family: arial;
	padding: 150px  150px  150px  190px ;
}
.black
{
	background-color:#003355;
	height: 550px;
	width:1250px;
}
#mission
{
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
}
#h2
{
	font-size:65;
	width: 270px;
	background-color:#003355;
	color: white;
	font-family: arial;
}
.p3
{
	font-size:25;
	color: white;
	font-family: arial;
}

