/*body css codes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
	text-decoration: none;
}
#outter
{
	
	height:700px;
	width:100%;
	background-size:cover;
	background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.2)),url(donate1.jpg);
}
#h1
{
	font-size:100px;
	background-color: none;
	color: white;
	font-family: arial;
	text-align: center;
}
.tb
{
	height:20px;
	width:100%;
}
.container1
{
	margin:20px 40px;
	color: #003355;
}
.container2
{
	  display: flex;
}
.container3
{
	  display: flex;
}
.container4
{
	padding-left: 355px;
	padding-right: 360px;
	background-color: lightgray;  display: flex;
}
